<h1>I am the Homepage</h1>

<h1>Player Hand</h1>
<% player.forEach(el => { %>
    <img src=<%= el.image %>></img>
<% }) %>
<br>




<h1>Computer Hand</h1>
<% computer.forEach(el => { %>
    <img src=<%= el.image %>></img>
<% }) %>
<br>