<h1>I am the home page!!!!!!!</h1>

<!-- the percent tag lets us use pure javascript -->
<% let doggy = 'woof!' %>
<!-- the %= tag lets us extract data from javascript -->
<%= doggy %>
<%= kitty %>

<% let arr = ['woof', 'meow', 'chirp'] %>

<% arr.forEach(el => { %>
    <h1>
        <%= el %>
    </h1>
<% }) %>

<% animals.forEach(el => { %>
    <h1>
        <%= el %>
    </h1>
<% }) %>