.App {
  padding: 0;
  border: none;
  box-sizing: border-box;
  margin: 20px 5vw;
}

#inputField {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: darkred solid 2px;
}