<h1>Read's Gif Database!</h1>
<form action='/searchForGifs/0'>
    <input type="text" name="search" placeholder="Search for Gifs Here!">
    <button type="submit" value="submit">Search!</button>
</form>